.header-area{
    background: url('../../images/top-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

.header-content{
    padding-top: 60px;
}
h1{
    font-family: 'Yeseva One', cursive;
    font-size: 90px;
}
.hero-img{
    display: flex;
    align-items: center;
    justify-content: end;
    padding-top: 100px;
}
.hero-img img{
    width: 520px;
}


